/*body { 
    background:url(../img/bg_site.jpg);
}*/
#topo {
    background-image: linear-gradient(to bottom, white,rgb(201, 229, 255));
    height:150px;
    margin-bottom:0px;
}
#bandeira {
    float: left;
}
#menu-principal {
    margin-bottom:10px;
    background-color: #2969f1;
}
#meuSlider{
    margin-bottom:50px;
}
#conteudo{
    margin-bottom:10px;
}
#rodape {
    background-color: #2969f1;
    text-align: center;
    padding: 10px;
} 
h1{
    color: Red;
    text-transform: uppercase;
    font-size: 40px;    
    font-style: italic;
    text-shadow: 1px 1px 2px #888; 
    padding-right: 10px;
}
/*.container{
    width: 970px;
}*/
h2{
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    font-size: 20px;    
    font-style: italic;
    text-shadow: 1px 1px 2px #888;
    padding-right: 10px;
}
h3{
    text-transform: uppercase;
    font-size: 18px;
    color: Red;
    text-transform: uppercase;
    font-size: 30px;    
    margin-bottom: 10px;
    font-style: italic;
    text-shadow: 1px 1px 2px #888; 
    text-align: center;
}
h4{
    font-size: 14px;
    color: #FFF;
    font-style: italic;
}

